[class*='column-'] {
  float: left;
  min-height: 1px;
  padding: $mobile-column-gutter;
}

.column-1 {
  width: $mobile-column-1;
}

.column-2 {
  width: $mobile-column-2;
}

.column-3 {
  width: $mobile-column-3;
}

.column-4 {
  width: $mobile-column-4;
}

.column-5 {
  width: $mobile-column-5;
}

.column-6 {
  width: $mobile-column-6;
}
