[class*='column-'] {
    float: left;
    min-height: 1px;
    padding: $mobile-column-gutter;
    box-sizing: border-box;
}
.u-no-gutter{
    @include no-gutter();
}
.column-1 {
    width: $mobile-column-1;
}

.column-2 {
    width: $mobile-column-2;
}

.column-3 {
    width: $mobile-column-3;
}

.column-4 {
    width: $mobile-column-4;
}

.column-5 {
    width: $mobile-column-5;
}

.column-6 {
    width: $mobile-column-6;
}

.column-1-offset-1 {
    width: $mobile-column-1;
    margin-left: $mobile-column-1-offset-1;
}

.column-1-offset-2 {
    width: $mobile-column-1;
    margin-left: $mobile-column-1-offset-2;
}

.column-1-offset-3 {
    width: $mobile-column-1;
    margin-left: $mobile-column-1-offset-3;
}

.column-1-offset-4 {
    width: $mobile-column-1;
    margin-left: $mobile-column-1-offset-4;
}

.column-1-offset-5 {
    width: $mobile-column-1;
    margin-left: $mobile-column-1-offset-5;
}

.column-1-offset-6 {
    width: $mobile-column-1;
    margin-left: $mobile-column-1-offset-6;
}

.column-2-offset-1 {
    width: $mobile-column-2;
    margin-left: $mobile-column-2-offset-1;
}

.column-2-offset-2 {
    width: $mobile-column-2;
    margin-left: $mobile-column-2-offset-2;
}

.column-2-offset-3 {
    width: $mobile-column-2;
    margin-left: $mobile-column-2-offset-3;
}

.column-2-offset-4 {
    width: $mobile-column-2;
    margin-left: $mobile-column-2-offset-4;
}

.column-2-offset-5 {
    width: $mobile-column-2;
    margin-left: $mobile-column-2-offset-5;
}

.column-2-offset-6 {
    width: $mobile-column-2;
    margin-left: $mobile-column-2-offset-6;
}

.column-3-offset-1 {
    width: $mobile-column-3;
    margin-left: $mobile-column-3-offset-1;
}

.column-3-offset-2 {
    width: $mobile-column-3;
    margin-left: $mobile-column-3-offset-2;
}

.column-3-offset-3 {
    width: $mobile-column-3;
    margin-left: $mobile-column-3-offset-3;
}

.column-3-offset-4 {
    width: $mobile-column-3;
    margin-left: $mobile-column-3-offset-4;
}

.column-3-offset-5 {
    width: $mobile-column-3;
    margin-left: $mobile-column-3-offset-5;
}

.column-3-offset-6 {
    width: $mobile-column-3;
    margin-left: $mobile-column-3-offset-6;
}

.column-4-offset-1 {
    width: $mobile-column-4;
    margin-left: $mobile-column-4-offset-1;
}

.column-4-offset-2 {
    width: $mobile-column-4;
    margin-left: $mobile-column-4-offset-2;
}

.column-4-offset-3 {
    width: $mobile-column-4;
    margin-left: $mobile-column-4-offset-3;
}

.column-4-offset-4 {
    width: $mobile-column-4;
    margin-left: $mobile-column-4-offset-4;
}

.column-4-offset-5 {
    width: $mobile-column-4;
    margin-left: $mobile-column-4-offset-5;
}

.column-4-offset-6 {
    width: $mobile-column-4;
    margin-left: $mobile-column-4-offset-6;
}

.column-5-offset-1 {
    width: $mobile-column-5;
    margin-left: $mobile-column-5-offset-1;
}

.column-5-offset-2 {
    width: $mobile-column-5;
    margin-left: $mobile-column-5-offset-2;
}

.column-5-offset-3 {
    width: $mobile-column-5;
    margin-left: $mobile-column-5-offset-3;
}

.column-5-offset-4 {
    width: $mobile-column-5;
    margin-left: $mobile-column-5-offset-4;
}

.column-5-offset-5 {
    width: $mobile-column-5;
    margin-left: $mobile-column-5-offset-5;
}

.column-5-offset-6 {
    width: $mobile-column-5;
    margin-left: $mobile-column-5-offset-6;
}

.column-6-offset-1 {
    width: $mobile-column-6;
    margin-left: $mobile-column-6-offset-1;
}

.column-6-offset-2 {
    width: $mobile-column-6;
    margin-left: $mobile-column-6-offset-2;
}

.column-6-offset-3 {
    width: $mobile-column-6;
    margin-left: $mobile-column-6-offset-3;
}

.column-6-offset-4 {
    width: $mobile-column-6;
    margin-left: $mobile-column-6-offset-4;
}

.column-6-offset-5 {
    width: $mobile-column-6;
    margin-left: $mobile-column-6-offset-5;
}

.column-6-offset-6 {
    width: $mobile-column-6;
    margin-left: $mobile-column-6-offset-6;
}
