// All the variables used in the grid
//
// Table of contents
//
// 1 Grid breakpoints
// 2 Gutters and margins
// 3 Columns width

/* ==========================================================================
   Grid Breakpoints
   ========================================================================== */

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 920px;
$large-breakpoint: 1200px;

/* ==========================================================================
   Gutters and margins
   ========================================================================== */

$mobile-column-gutter: 5px;
$tablet-column-gutter: 8px;
$desktop-column-gutter: 12px;
$large-column-gutter: 16px;

/* ==========================================================================
   Columns width
   ========================================================================== */


/*LARGE DEVICES*/

$large-column-1: 16.66%;
$large-column-2: 33.33%;
$large-column-3: 50%;
$large-column-4: 66.66%;
$large-column-5: 83.33%;
$large-column-6: 100%;

/*DESKTOP DEVICES*/

$desktop-column-1: 25%;
$desktop-column-2: 50%;
$desktop-column-3: 75%;
$desktop-column-4: 100%;
$desktop-column-5: 100%;
$desktop-column-6: 100%;

/*TABLETS AND SMALL LAPTOPS*/

$tablet-column-1: 33.33%;
$tablet-column-2: 66.66%;
$tablet-column-3: 100%;
$tablet-column-4: 100%;
$tablet-column-5: 100%;
$tablet-column-6: 100%;

/*MOBILE*/

$mobile-column-1: 100%;
$mobile-column-2: 100%;
$mobile-column-3: 100%;
$mobile-column-4: 100%;
$mobile-column-5: 100%;
$mobile-column-6: 100%;

/* ==========================================================================
   COLUMNS OFFSETS
   ========================================================================== */


/*LARGE DEVICES*/

$large-column-offset-1: 16.66%;
$large-column-offset-2: 33.33%;
$large-column-offset-3: 50%;
$large-column-offset-4: 66.56%;
$large-column-offset-5: 83.33%;
$large-column-offset-6: 83.33%;

/*DESKTOP DEVICES*/

$desktop-column-offset-1: 25%;
$desktop-column-offset-2: 50%;
$desktop-column-offset-3: 75%;
$desktop-column-offset-4: 75%;
$desktop-column-offset-5: 75%;
$desktop-column-offset-6: 75%;

/*TABLETS AND SMALL LAPTOPS*/

$tablet-column-offset-1: 66.66%;
$tablet-column-offset-2: 33.33%;
$tablet-column-offset-3: 66.66%;
$tablet-column-offset-4: 66.66%;
$tablet-column-offset-5: 66.66%;
$tablet-column-offset-6: 66.66%;

/*MOBILE*/

$mobile-column-offset-1: 0;
$mobile-column-offset-2: 0;
$mobile-column-offset-3: 0;
$mobile-column-offset-4: 0;
$mobile-column-offset-5: 0;
$mobile-column-offset-6: 0;
