// All the variables used in the grid
//
// Table of contents
//
// 1 Grid breakpoints
// 2 Gutters and margins
// 3 Columns width

/* ==========================================================================
   Grid Breakpoints
   ========================================================================== */

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

/* ==========================================================================
   Gutters and margins
   ========================================================================== */

$mobile-column-gutter: 5px;
$tablet-column-gutter: 8px;
$desktop-column-gutter: 15px;

/* ==========================================================================
   Columns width
   ========================================================================== */

$column-1: 6.86666666667%;
$column-2: 15.3333333333%;
$column-3: 23.8%;
$column-4: 32.2666666667%;
$column-5: 40.7333333333%;
$column-6: 49.2%;
$column-7: 57.6666666667%;
$column-8: 66.1333333333%;
$column-9: 74.6%;
$column-10: 83.0666666667%;
$column-11: 91.5333333333%;
$column-12: 100%;
